
header {
	background: #d62e2e;
	position: absolute;
	width: 100%;
	height: 70px;
	left: 0px;
	top: 0px;
	/*padding-left: 10%;*/
	color: white; 
	font-family: Berlin Sans FB;
	font-size: 16px;
	margin: 0;
	z-index: 2;
	box-shadow: -20px 10px 10px -6px #000;
}
header h1 {
	line-height: 100%;
	padding-left: 10%;
}
body {
	overflow-x: hidden;
	background: #111;
	height: 100%;
}
article {
	z-index: 0;
	position: absolute;
	display: block;
	color: white;
	left: 0px;
	top: 120px;
	width: 100%;
	font-family: Tahoma;
	font-size: 22px;
}

.footer {
	padding: 20px 0px;
	margin-top: 200px;
	color: #FFF;
	display: block;
	text-align: center;
	width: 100%;
	background: #404040;
	height: 30px;
	bottom: 0;
	left: 0px;
	font-family: Tahoma;
	font-size: 16px;
}
.header1 {
	position: fixed;
	right: 0;
	top: 70px;
	width: 20%;
	/*height: 130px;*/
	/*background: green;*/
	border-left: 100px solid transparent;
	border-top: 60px solid #d62e2e;
	border-right: 0px solid transparent;
	z-index: 3;
}
.menu {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 70px;
	left: 0;
	z-index: 1;
	background: #404040;
	box-shadow: -20px 10px 10px -6px #000;

	
}

.menu ul{
  	display: flex;
  	padding-left: 20px;
  	height: 60px;
  	margin: 0;
}

.menu li{
	font-family: Tahoma;
	font-size: 22px;
	line-height: 2.5em;
	/*margin: 0px 100px;*/
  	display: block;
  	width: 200px;
	
  	transition: 0.5s;
  	color: white;
	text-decoration: none;

}
.menu li:hover{
	text-shadow: 0 0 10px white;
	display: block;
}
.menu a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	height: 60px;

}
.menu .active {
	background: #343434;
}


.content {
	color: white;
	padding: 40px 30%;
	display: block;
	min-height: calc(100vh - 60px);
	margin-bottom: -60px;
}


.back_to_top {
	position: fixed;
	display: none;
	right: 0px;
	top: 0px;
	width: 100px;
	height: 100%;
	z-index: 2;
	transition: 0.5s;
	padding-top: 500px;
	padding-left: 25px;
	opacity: 10%;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 22px;
	color: #FFF;

}

.back_to_top:hover {
	background: #404040;
	
	opacity: 100%;
}


.content active {
	display: block;
}


.profile img {
	position: absolute;
	z-index: 5;
	right: 10px;
	width: 100px;
	height: 100px;
	top: 10px;
	border-radius: 50%;
	border: 4px solid white;
	z-index:999;
	transition: 0s;
}
.profile img:hover {
	border: 4px solid #404040;
}

.profile ul {
	position: fixed;
	display: none;
	top: 70px;
	right: 18%;
	width: 110px;
	height: 160px;
	padding: 0px;
	margin: 0;
	text-align: center;

}
.profile ul li {
	display: block;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	
	cursor: pointer;
	background: #d62e2e;
}
.profile ul li:hover {
	background: #e9e9e9;
}

.profile ul li a {
	text-decoration: none;
	color: black;
	font-family: Tahoma;
	font-size: 16px;
	display: block;
}

